:root {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    /*font-family:d ;*/
  
    /* Variables CSS*/

    --nav-bckg-color: #24252a;
    --main-color: #0088a9;
    --text-primary: #b6b6b6;
    --text-secondary: #c9c4c4;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li, a, button {
    color: #F0F1F2;
    text-decoration: none;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
    background-color: rgb(240, 241, 242);
  }

/* Navbar du côté */

  .navbar {
    position: fixed;
    top:2.5rem;
    height: 100vh;
    width: 5.5rem;
    background-color: var(--nav-bckg-color);
    transition: width 300ms ease;
    overflow: scroll;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  .navbar:hover {
    width:20rem;
  }
  
  .link-text {
    display: none;
    margin-left: 0rem;
  }

  .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .navbar:hover .link-text {
    display: block;
  }

  .fa {
    color: #a0cecb; 
    transition: var(--transition-speed);
  }

  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom:1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.7rem;
    letter-spacing: 0.1ch;
    width: 100%;
  }

  .logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
    align-items: center;
  }

/* CSS navbar principale */
  
  nav {
    display: flex;
    height: 2.5rem;
    background-color: var(--nav-bckg-color);
    z-index: 100000000;
    position:fixed;
    top:0;
    left:0;
    right:0;
  }
  
  .nav_links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav_links li a, .sidenav li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li a:hover, .sidenav li a:hover {
    color: var(--main-color);   
  }

  .nav_links li .current a{
    font-weight: bolder; 
    font-size: 30px;
    color:#0088a9;
  }

  .nav_links li .current a:hover{
    color:#F0F1F2;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .container {
    margin-left:1rem;
    margin-top:3.8rem;
    margin-bottom:1rem;
    margin-right:1rem;
    flex-direction: row / row-reverse / column / column-reverse;
    text-align: center;

  }

  .navbar:hover .container {
    filter: grayscale(0%) opacity(0.4);
  }

  .container-inside {
    margin-left:1.5rem;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    margin-right:1.5rem;
    flex-direction: row / row-reverse / column / column-reverse;
    text-align:justify;
  }

  /*
  .container-adaptive {
    border-radius: 10px;
    margin:auto;
    background-color:darkgrey;
    flex-direction: row / row-reverse / column / column-reverse;
    text-align: center;
  }
  */

  /* Navbar (Chrome) */

  body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track{
    background: #303038;
  }
  
  body::-webkit-scrollbar-thumb{
    background: var(--main-color);
  }

  /* Navbar (Firefox) */

  .scroller {
    overflow-y: scroll;
    scrollbar-color: #1e1e24 #5329c4;
  }

  .body{
    color:black;
    background-color: rgb(51, 38, 16);
    margin:0;
    padding:0;
  }
  
  .text-acc{
    display: flex;
    margin-left:60px;
    margin-top:-45px;
    cursor: pointer;
  }

  .img-acc img{
    display:flex;
    width:50px; 
    height:50px;
    margin-top:-5px;
    cursor:pointer;
  }

  .img-p img{
    display: block;
    margin:auto;
    width:18rem;
  }

  /* Style container (p, span, txt...) */

  .url{
    display: block;
    margin-top: 0;
  }

  .container .titre{
    display:block;
    margin:auto;
    color:var(--bg-primary);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 3.5rem;;
  }

  .container .container-inside p{
    display: block;
    font-size: 25px;
    line-height: 1.5rem;
    margin-top:15px;
    margin-bottom:30px;
    text-indent:50px;
  }

  .container .container-inside span{
    display: block;
    font-weight: bold;
    margin-top:50px;
  }

  .txt{
    display:block;
    font-size: 25px;
    line-height: 1.5rem;
    margin-bottom:20px;
    text-indent: 0;
    margin-top:10px;
  }

  .container .container-inside h4{
    margin-top: 20px;
  }

  hr {
    height:2px;
    width:94%;
    align-items: center;
    margin-top:40px;
    margin-left:2rem;
    margin-right:2em;
  }

  .stylehr{
    margin-top:60px;
  }

  .container .container-inside .txt a,
  .container .container-inside p a{
    transition: all 0.3s ease 0s;
    color:#23232e;
    font-weight: bolder;
  }

  .container .container-inside .txt a:hover,
  .container .container-inside p a:hover{
    color:var(--main-color);
  }

  .hello{
    text-indent:-30px;
    margin-left:30px;
    font-weight:bold;
    cursor: default;
    text-align: left;
  }

  .hello1{
    font-weight:bold;
    cursor: default;
    text-align:left;
  }

  /* Tableau */

  .tableau {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin:2rem auto 2rem auto;
    text-align: center;
  }
  
  .tableau thead tr {
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    cursor:default;
  }
  
  .tableau th,
  .tableau td {
    padding: 0.5rem 2rem;
    cursor: default;
  }
  
  .tableau tbody tr {
    border-bottom: 0.09rem solid #dddddd;
  }
  
  .tableau tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .tableau tbody tr:last-of-type {
    border-bottom: 0.1rem solid var(--main-color);
  }

  .tableau tbody tr:hover {
    background-color: #dad8d8;
    transition:350ms;;
  }

  .tableau tbody tr a{
    transition: all 0.3s ease 0s;
    font-weight: bold;
    color:rgb(24, 24, 24);
  }

  .tableau tbody tr a:hover{
    color:var(--text-secondary);
  }

  .tableau1 {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin:2rem auto 2rem auto;
    text-align: center;
  }
  
  .tableau1 thead tr {
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    cursor:default;
  }
  
  .tableau1 th,
  .tableau1 td {
    padding: 0.5rem 1rem;
    cursor: default;
  }

  .tableau1 tbody td{
    border-right: 0.09rem solid rgb(207, 207, 207);
    max-width: 30rem;
  }

  .tableau1 tbody td:last-of-type{
    border-right:transparent;
  }
  
  .tableau1 tbody tr {
    border-bottom: 0.09rem solid #dddddd;
  }
  
  .tableau1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .tableau1 tbody tr:last-of-type {
    border-bottom: 0.1rem solid var(--main-color);
  }

  .tableau1 tbody tr:hover {
    background-color: #e0e0e0;
    transition:350ms;
  }

  .tableau1 tbody tr a{
    transition: all 0.3s ease 0s;
    font-weight: bold;
    color:rgb(24, 24, 24);
  }

  .tableau1 tbody tr a:hover{
    color:var(--text-secondary);
  }

  strong{
    cursor: default;
  }